#choose {
  margin-top: 65px;
  padding-bottom: 50px;
  background-color: #ebebeb;
}

.top-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  color: #fff;
}

.top-block h2 {
  font-size: 50px;
  letter-spacing: 5px;
  margin-right: 55px;
}

.top-block img {
  width: 50%;
  height: 150px;
}

.wrapper {
  width: 870px!important;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
}

.block {
  display: flex;
}

.icon {
  max-width: 100px;
  width: 100%;
  height: 100px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0 5px 0 10px;
}

.content h3 {
  font-size: 25px;
  letter-spacing: 3px;
  margin-bottom: 22px;
}

.content p {
  line-height: 1.5;
}

@media screen and (max-width: 870px) {
  .top-block {
    justify-content: flex-start;
  }

  .top-block h2 {
    padding: 15px 0 15px 10px;
  }

  .top-block img {
    display: none;
  }

  .wrapper {
    grid-template-columns: 1fr;
    width: 100%!important;
  }

  .block {
    padding: 0 10px;
  }
}

@media screen and (max-width: 480px) {
  .top-block h2 {
    font-size: 25px;
  }

  .content h3  {
    font-size: 20px;
  }
}