.footer-container {
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 4px;
}

.footer-container p {
  font-size: 15px;
}

.footer-container a {
  text-decoration: underline;
}

.footer-container img {
  width: 160px;
  margin-left: 20px;
}

@media screen and (max-width: 480px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-container img {
    order: 2;
    margin-top: 20px;
    margin-left: 0;
  }
}