.jumbotron-container {
  background-color: #000;
  margin-top: 30px;
  display: flex;
  position: relative;
  overflow: hidden;
}

#jumbotron img {
  width: 50%;
  animation: appear 1s;
}

#jumbotron .content {
  padding: 0 20px 0 60px;
  width: 385px;
  animation: push 1s ease forwards;
}

#jumbotron .content h1 {
  font-size: 50px;
  color: #fff;
  padding-top: 77px;
  letter-spacing: 5px;
  line-height: 1;
}

#jumbotron .content p {
  font-size: 15px;
  color: #fff;
  padding: 23px 0 50px 0;
  line-height: 25px;
}

#jumbotron .btns {
  padding-bottom: 75px;
}

@keyframes push {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 840px) {
  .jumbotron-container {
    margin-top: 0;
  }
  
  #jumbotron .wrapper {
    margin-top: 0;
  }

  #jumbotron img {
    display: none;
  }

  #jumbotron .content {
    width: 100%;
    padding-right: 60px;
  }
}

@media screen and (max-width: 480px) {
  #jumbotron .content {
    padding: 0 10px;
  }
}