.jumbotron-container {
  background-color: #000;
  margin-top: 30px;
  display: flex;
}

#jumbotron img {
  width: 50%;
}

#jumbotron .content {
  padding: 0 20px 0 60px;
  width: 385px;
}

#jumbotron .content h1 {
  font-size: 50px;
  color: #fff;
  padding-top: 77px;
  letter-spacing: 5px;
  line-height: 1;
}

#jumbotron .content p {
  font-size: 15px;
  color: #fff;
  padding: 23px 0 50px 0;
  line-height: 25px;
}

#jumbotron .btns {
  padding-bottom: 75px;
}

@media screen and (max-width: 840px) {
  .jumbotron-container {
    margin-top: 0;
  }
  
  #jumbotron .wrapper {
    margin-top: 0;
  }

  #jumbotron img {
    display: none;
  }

  #jumbotron .content {
    width: 100%;
    padding-right: 60px;
  }
}

@media screen and (max-width: 480px) {
  #jumbotron .content {
    padding: 0 10px;
  }
}