h1, h2, h3 {
  font-family: "Akziden";
  text-transform: uppercase;
}

p {
  font-family: 'PT Sans', sans-serif;
}

.mainBtn {
  font-family: 'Bebas Neue', cursive;
  font-size: 19px;
  background-color: #fff;
  border: none;
  padding: 15px 31px 13px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: .3s;
}

.mainBtn:hover {
  box-shadow: 0 0 15px 8px rgba(128, 128, 128, 0.5);
}

.menus {
  font-family: 'Bebas Neue', cursive;
  font-size: 19px;
  color: #fff;
  text-decoration: underline;
  letter-spacing: 2px;
  margin-left: 11px;
}

.menus:hover {
  text-decoration: none;
}